 .u-section-1 {
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url('images/e7315c7-484-3eff-2526-2d7503b22dd3_230311_image.png?rand=ab1b');
  background-position: 50% 50%, 50% 50%;
  background-repeat: no-repeat, no-repeat;
  background-size: cover, cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 966px;
}

.u-section-1 .u-group-1 {
  width: 688px;
  min-height: 553px;
  height: auto;
  background-image: none;
  margin: 124px 0 60px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 30px 0;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 2.25rem;
  margin: 33px 0 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.8;
  font-size: 1.125rem;
  font-weight: 400;
  font-style: normal;
  margin: 33px 68px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 1px;
  transition-duration: 0.5s;
  text-transform: none;
  font-weight: 600;
  background-image: none;
  margin: 58px auto 0 0;
  padding: 18px 57px 19px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 1px;
  transition-duration: 0.5s;
  text-transform: none;
  font-weight: 600;
  background-image: none;
  margin: -59px 49px 0 auto;
  padding: 18px 57px 19px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 797px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 610px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 641px;
  }

  .u-section-1 .u-group-1 {
    min-height: 492px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 168px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -63px;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 766px;
  }

  .u-section-1 .u-group-1 {
    min-height: 646px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
  }

  .u-section-1 .u-text-2 {
    width: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 20px;
    margin-right: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 704px;
}

.u-section-2 .u-layout-wrap-1 {
  pointer-events: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 584px;
  pointer-events: auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  text-align: left;
  font-size: 2.25rem;
  text-transform: uppercase;
  font-weight: 700;
  margin: 21px 0 0;
}

.u-section-2 .u-text-2 {
  line-height: 1.8;
  font-size: 1rem;
  font-style: normal;
  margin: 41px 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: -30px 0 0;
}

.u-section-2 .u-text-4 {
  line-height: 1.8;
  font-size: 1rem;
  font-style: normal;
  margin: 20px auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 584px;
  pointer-events: auto;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 30px;
}

.u-section-2 .u-group-1 {
  min-height: 478px;
  height: auto;
  width: 510px;
  --color-var: #2a63ec;
  filter: none;
  background-image: none;
  margin: 23px 0 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-2 .u-image-1 {
  filter: none;
  width: 379px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 482px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 482px;
  }

  .u-section-2 .u-group-1 {
    margin-right: initial;
    margin-left: initial;
    height: auto;
    width: auto;
  }

  .u-section-2 .u-image-1 {
    inset: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 508px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 505px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 29px;
    padding-right: 29px;
  }

  .u-section-2 .u-group-1 {
    min-height: 347px;
    width: 300px;
    margin-top: 156px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 13px;
    padding-right: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 793px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-right: 24px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 404px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 0;
    margin-right: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 896px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 388px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 9px;
    padding-right: 9px;
  }

  .u-section-2 .u-group-1 {
    min-height: 361px;
    margin-right: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 1152px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  font-weight: 400;
  width: 386px;
  margin: 49px auto 0;
}

.u-section-3 .u-list-1 {
  margin: 45px 0 0;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 420px;
  --gap: 30px;
  grid-auto-columns: calc(33.3333% - 20px);
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 27px;
}

.u-section-3 .u-icon-1 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 3px 0 auto;
  padding: 19px;
}

.u-section-3 .u-text-2 {
  font-weight: 700;
  margin: 10px 0 0 6px;
}

.u-section-3 .u-text-3 {
  margin: 3px 0 0 6px;
}

.u-section-3 .u-btn-1 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 60px 186px 0 6px;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 27px;
}

.u-section-3 .u-icon-3 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 3px 0 auto;
  padding: 19px;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 10px 0 0 6px;
}

.u-section-3 .u-text-5 {
  margin: 3px 0 0 6px;
}

.u-section-3 .u-btn-2 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 60px 186px 0 6px;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 27px;
}

.u-section-3 .u-icon-5 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 3px 0 auto;
  padding: 19px;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 10px 0 0 6px;
}

.u-section-3 .u-text-7 {
  margin: 3px 0 0 6px;
}

.u-section-3 .u-btn-3 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 60px 186px 0 6px;
  padding: 0;
}

.u-section-3 .u-list-2 {
  margin-top: 30px;
  margin-bottom: 60px;
}

.u-section-3 .u-repeater-2 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 300px;
  --gap: 30px;
  grid-auto-columns: calc(33.3333% - 20px);
}

.u-section-3 .u-list-item-4 {
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-7 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 19px;
}

.u-section-3 .u-text-8 {
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-3 .u-text-9 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-4 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 30px 0 0;
  padding: 0;
}

.u-section-3 .u-list-item-5 {
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-9 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 19px;
}

.u-section-3 .u-text-10 {
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-3 .u-text-11 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-5 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 30px 0 0;
  padding: 0;
}

.u-section-3 .u-list-item-6 {
  background-image: none;
}

.u-section-3 .u-container-layout-6 {
  padding: 30px;
}

.u-section-3 .u-icon-11 {
  width: 80px;
  height: 80px;
  background-image: none;
  margin: 0 0 0 auto;
  padding: 19px;
}

.u-section-3 .u-text-12 {
  font-weight: 700;
  margin: 10px 0 0;
}

.u-section-3 .u-text-13 {
  margin: 20px 0 0;
}

.u-section-3 .u-btn-6 {
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 0px;
  text-transform: uppercase;
  margin: 30px 0 0;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 346px;
    grid-gap: 30px;
    grid-auto-columns: calc(33.333333333333336% - 20px);
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-4 {
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-6 {
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-left: 0;
  }

  .u-section-3 .u-btn-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 247px;
    grid-auto-columns: calc(33.333333333333336% - 20px);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 795px;
    grid-auto-columns: calc(50% - 15px);
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 568px;
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    margin-top: 147px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-repeater-2 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    margin-top: 172px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 783px;
}

.u-section-4 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 400;
  margin: 60px auto 0;
}

.u-section-4 .u-list-1 {
  margin-top: 50px;
  margin-bottom: 60px;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 554px;
  --gap: 30px;
  grid-auto-columns: 359.992px 359.992px 359.992px;
}

.u-section-4 .u-list-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 0 30px;
}

.u-section-4 .u-group-1 {
  min-height: 144px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-2 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-3 {
  font-weight: 700;
  font-size: 3rem;
  margin: 30px auto 0;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-text-5 {
  line-height: 2.2;
  margin: 20px auto 0;
}

.u-section-4 .u-btn-1 {
  font-weight: 600;
  text-transform: none;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  background-image: none;
  margin: 35px auto 0;
  padding: 18px 30px 19px;
}

.u-section-4 .u-list-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-3 {
  padding: 0 0 30px;
}

.u-section-4 .u-group-2 {
  min-height: 144px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-4 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-6 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-7 {
  font-weight: 700;
  font-size: 3rem;
  margin: 30px auto 0;
}

.u-section-4 .u-text-8 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-text-9 {
  line-height: 2.2;
  margin: 20px auto 0;
}

.u-section-4 .u-btn-2 {
  font-weight: 600;
  text-transform: none;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  background-image: none;
  margin: 35px auto 0;
  padding: 18px 30px 19px;
}

.u-section-4 .u-list-item-3 {
  background-image: none;
}

.u-section-4 .u-container-layout-5 {
  padding: 0 0 30px;
}

.u-section-4 .u-group-3 {
  min-height: 144px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
  --color-var: #ffd700;
}

.u-section-4 .u-container-layout-6 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-10 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-11 {
  font-weight: 700;
  font-size: 3rem;
  margin: 30px auto 0;
}

.u-section-4 .u-text-12 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-text-13 {
  line-height: 2.2;
  margin: 20px auto 0;
}

.u-section-4 .u-btn-3 {
  font-weight: 600;
  text-transform: none;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  background-image: none;
  margin: 35px auto 0;
  padding: 18px 30px 19px;
}

.u-section-4 .u-list-item-4 {
  background-image: none;
}

.u-section-4 .u-container-layout-7 {
  padding: 0 0 30px;
}

.u-section-4 .u-group-4 {
  min-height: 144px;
  margin-top: 0;
  margin-bottom: 0;
  height: auto;
}

.u-section-4 .u-container-layout-8 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-4 .u-text-14 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-4 .u-text-15 {
  font-weight: 700;
  font-size: 3rem;
  margin: 30px auto 0;
}

.u-section-4 .u-text-16 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-4 .u-text-17 {
  line-height: 2.2;
  margin: 20px auto 0;
}

.u-section-4 .u-btn-4 {
  font-weight: 600;
  text-transform: none;
  letter-spacing: 1px;
  transition-duration: 0.5s;
  background-image: none;
  margin: 35px auto 0;
  padding: 18px 30px 19px;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    grid-gap: 30px;
    grid-auto-columns: calc(33.333333333333336% - 20px);
  }

  .u-section-4 .u-group-1 {
    height: auto;
  }

  .u-section-4 .u-group-2 {
    height: auto;
  }

  .u-section-4 .u-group-3 {
    height: auto;
  }

  .u-section-4 .u-group-4 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 70px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-4 .u-text-3 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-7 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-11 {
    font-size: 2.25rem;
  }

  .u-section-4 .u-text-15 {
    font-size: 2.25rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 620px;
}

.u-section-5 .u-text-1 {
  text-transform: uppercase;
  font-size: 2.25rem;
  font-weight: 700;
  margin: 70px auto 0;
}

.u-section-5 .u-list-1 {
  margin: 50px 0 57px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 390px;
  --gap: 30px;
  grid-auto-columns: calc(33.3333% - 20px);
}

.u-section-5 .u-list-item-1 {
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px;
}

.u-section-5 .u-image-1 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-5 .u-list-item-2 {
  background-image: none;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px;
}

.u-section-5 .u-image-2 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-5 .u-list-item-3 {
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px;
}

.u-section-5 .u-image-3 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-5 .u-list-item-4 {
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px;
}

.u-section-5 .u-image-4 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-5 .u-list-item-5 {
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 10px;
}

.u-section-5 .u-image-5 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

.u-section-5 .u-list-item-6 {
  background-image: none;
}

.u-section-5 .u-container-layout-6 {
  padding: 10px;
}

.u-section-5 .u-image-6 {
  height: 97px;
  width: 84px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 543px;
  }

  .u-section-5 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    min-height: 322px;
    grid-gap: 30px;
    grid-auto-columns: calc(33.333333333333336% - 20px);
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 555px;
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
  }
}