 .u-section-1 {
  filter: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 226px;
}

.u-section-1 .u-text-1 {
  width: 421px;
  margin: 45px auto 0;
}

.u-section-1 .u-text-2 {
  width: 421px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 689px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 104px;
  margin-bottom: 60px;
  --radius: 50px;
  background-image: none;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 502px;
  background-image: none;
  --color-var: #f2f2f2;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 60px 0 0 109px;
}

.u-section-2 .u-icon-1 {
  width: 94px;
  height: 94px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -33px auto 0 0;
  padding: 21px;
}

.u-section-2 .u-text-2 {
  margin: 30px 0 0 109px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-2 .u-layout-cell-1 {
    --top-left-radius: 50px;
    --bottom-left-radius: 50px;
    --radius: 50px;
    min-height: 414px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.625rem;
    width: auto;
    margin-top: 226px;
    margin-left: 123px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 108px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-2 .u-layout-cell-1 {
    --top-right-radius: 50px;
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 36px;
    margin-left: 125px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 101px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-2 .u-icon-1 {
    margin-top: 108px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 119px;
    margin-left: 0;
  }

  .u-section-2 .u-icon-1 {
    margin-top: -27px;
    margin-left: auto;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 689px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 104px;
  margin-bottom: 60px;
  --radius: 50px;
  background-image: none;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 502px;
  background-image: none;
  --color-var: #f2f2f2;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 60px 0 0 109px;
}

.u-section-3 .u-icon-1 {
  width: 94px;
  height: 94px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -33px auto 0 0;
  padding: 21px;
}

.u-section-3 .u-text-2 {
  margin: 30px 0 0 109px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-3 .u-layout-cell-1 {
    --top-left-radius: 50px;
    --bottom-left-radius: 50px;
    --radius: 50px;
    min-height: 414px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.625rem;
    width: auto;
    margin-top: 226px;
    margin-left: 123px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 108px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-3 .u-layout-cell-1 {
    --top-right-radius: 50px;
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 36px;
    margin-left: 125px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 101px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 108px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 119px;
    margin-left: 0;
  }

  .u-section-3 .u-icon-1 {
    margin-top: -27px;
    margin-left: auto;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 689px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 104px;
  margin-bottom: 60px;
  --radius: 50px;
  background-image: none;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 502px;
  background-image: none;
  --color-var: #f2f2f2;
}

.u-section-4 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 1.875rem;
  margin: 60px 0 0 109px;
}

.u-section-4 .u-icon-1 {
  width: 94px;
  height: 94px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: -33px auto 0 0;
  padding: 21px;
}

.u-section-4 .u-text-2 {
  margin: 30px 0 0 109px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 562px;
  }

  .u-section-4 .u-layout-cell-1 {
    --top-left-radius: 50px;
    --bottom-left-radius: 50px;
    --radius: 50px;
    min-height: 414px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.625rem;
    width: auto;
    margin-top: 226px;
    margin-left: 123px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 108px;
  }

  .u-section-4 .u-text-2 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 287px;
  }

  .u-section-4 .u-layout-cell-1 {
    --top-right-radius: 50px;
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 36px;
    margin-left: 125px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 101px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 12px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 108px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 119px;
    margin-left: 0;
  }

  .u-section-4 .u-icon-1 {
    margin-top: -27px;
    margin-left: auto;
  }
}