 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 400px;
}

.u-section-1 .u-text-1 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  width: 752px;
  margin: 20px auto 60px;
}

@media (max-width: 991px) {
  .u-section-1 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1354px;
}

.u-section-2 .u-text-1 {
  font-weight: 400;
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  width: 647px;
  margin: 21px auto 0;
}

.u-section-2 .u-layout-wrap-1 {
  margin: 51px 0 60px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 503px;
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-image-1 {
  height: 257px;
  object-position: 50% 13.69%;
  width: 257px;
  background-image: url("images/rtrait-young-woman-casual-clothes-with-blonde-dyed-hair-gently-smiling-during-pleasant-conversation-standing-closed-posture.jpg");
  background-position: 93.58% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-4 {
  font-style: normal;
  margin: 20px auto 0;
}

.u-section-2 .u-social-icons-1 {
  height: 63px;
  min-height: 16px;
  width: 63px;
  min-width: 16px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-1 {
  height: 100%;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 503px;
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-2 .u-image-2 {
  height: 257px;
  object-position: 50% 60.72%;
  width: 257px;
  background-image: url("images/08a3461f-6e0c-4b94-8524-b2fc1f0ce15b.jpg");
  background-position: 100% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-5 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-6 {
  font-style: normal;
  margin: 20px auto 0;
}

.u-section-2 .u-social-icons-2 {
  height: 63px;
  min-height: 16px;
  width: 63px;
  min-width: 16px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-2 {
  height: 100%;
}

.u-section-2 .u-layout-cell-3 {
  min-height: 534px;
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-image-3 {
  height: 257px;
  object-position: 50% 46.55%;
  width: 257px;
  background-image: url("images/e916e899-9128-4aac-8760-007d5815c973.jpg");
  background-position: 0% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-7 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-8 {
  font-style: normal;
  margin: 20px auto 0;
}

.u-section-2 .u-social-icons-3 {
  height: 63px;
  min-height: 16px;
  width: 63px;
  min-width: 16px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-3 {
  height: 100%;
}

.u-section-2 .u-layout-cell-4 {
  min-height: 568px;
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-2 .u-image-4 {
  height: 257px;
  object-position: 50% 37.76%;
  width: 257px;
  background-image: url("images/pexels-vladimir-konoplev-12088590-Copy.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-9 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-10 {
  font-style: normal;
  margin: 20px auto 0;
}

.u-section-2 .u-social-icons-4 {
  height: 63px;
  min-height: 16px;
  width: 63px;
  min-width: 16px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-4 {
  height: 100%;
}

.u-section-2 .u-layout-cell-5 {
  min-height: 568px;
  background-image: none;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-2 .u-image-5 {
  object-position: 50% 100%;
  height: 257px;
  width: 257px;
  background-image: url("images/pexels-christina-morillo-1181742.jpg");
  background-position: 50% 50%;
  margin: 0 auto;
}

.u-section-2 .u-text-11 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 30px auto 0;
}

.u-section-2 .u-text-12 {
  font-style: normal;
  margin: 20px auto 0;
}

.u-section-2 .u-social-icons-5 {
  height: 63px;
  min-height: 16px;
  width: 63px;
  min-width: 16px;
  margin: 20px auto 0;
}

.u-section-2 .u-icon-5 {
  height: 100%;
}

.u-section-2 .u-layout-cell-6 {
  min-height: 410px;
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 30px;
}

.u-section-2 .u-text-13 {
  margin: 0 auto 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 1px;
  transition-duration: 0.5s;
  text-transform: none;
  font-weight: 600;
  background-image: none;
  margin: 30px auto 0 0;
  padding: 18px 57px 19px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1160px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 415px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 415px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 440px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 468px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 468px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 338px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1191px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-bottom: -111px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 432px;
  }

  .u-section-2 .u-image-1 {
    height: 171px;
    width: 171px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 432px;
  }

  .u-section-2 .u-image-2 {
    height: 171px;
    width: 171px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 432px;
  }

  .u-section-2 .u-image-3 {
    height: 171px;
    width: 171px;
  }

  .u-section-2 .u-text-7 {
    width: auto;
    margin-left: 16px;
    margin-right: 16px;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 486px;
  }

  .u-section-2 .u-image-4 {
    height: 171px;
    width: 171px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 486px;
  }

  .u-section-2 .u-image-5 {
    height: 171px;
    width: 171px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 486px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2745px;
  }

  .u-section-2 .u-text-2 {
    width: 540px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-2 .u-text-7 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-2 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 2809px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 613px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 400;
  text-transform: uppercase;
  margin: 60px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  font-weight: 300;
  width: 534px;
  margin: 34px auto 0;
}

.u-section-3 .u-list-1 {
  margin: 51px 0 58px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 20px));
  min-height: 312px;
  --gap: 30px;
  grid-auto-columns: calc(33.3333% - 20px);
}

.u-section-3 .u-list-item-1 {
  background-image: none;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 79px;
  width: 79px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-3 .u-text-3 {
  letter-spacing: 0px;
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: 700;
  text-transform: none;
  margin: -53px 0 0 113px;
}

.u-section-3 .u-text-4 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 55px 0 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 79px;
  width: 79px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-3 .u-text-5 {
  letter-spacing: 0px;
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: 700;
  text-transform: none;
  margin: -53px 0 0 113px;
}

.u-section-3 .u-text-6 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 55px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 79px;
  width: 79px;
  background-image: none;
  margin: 0 auto 0 0;
  padding: 15px;
}

.u-section-3 .u-text-7 {
  letter-spacing: 0px;
  font-size: 1.5rem;
  line-height: 1.1;
  font-weight: 700;
  text-transform: none;
  margin: -53px 0 0 113px;
}

.u-section-3 .u-text-8 {
  font-size: 1.125rem;
  line-height: 2.2;
  font-weight: 600;
  margin: 55px 0 0;
}

.u-section-3 .u-btn-3 {
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: -138px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 257px;
    grid-gap: 30px;
    grid-auto-columns: calc(33.333333333333336% - 20px);
  }

  .u-section-3 .u-text-3 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-5 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-3 .u-text-7 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1005px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: -2px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 591px;
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-auto-columns: calc(50% - 15px);
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1137px;
  }

  .u-section-3 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-1 {
    margin-left: auto;
  }

  .u-section-3 .u-text-3 {
    width: auto;
  }

  .u-section-3 .u-text-4 {
    width: auto;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: auto;
  }

  .u-section-3 .u-text-5 {
    width: auto;
  }

  .u-section-3 .u-text-6 {
    width: auto;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: auto;
  }

  .u-section-3 .u-text-7 {
    width: auto;
  }

  .u-section-3 .u-text-8 {
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-text-2 {
    width: 340px;
  }
}